<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        {#p + span {font-weight: bold;}#}
        p + span {color: red;}
        {#body > span {color: red;}#}
    </style>
</head>
<body>

<span>AAA1111111</span>
<div>
    <p>aaaa</p>
    <span>11111111111</span>
    <p>aaaa</p>
    <span>11111111111</span>
    <p>aaaa</p>
    <span>11111111111</span>
    <p>aaaa</p>
    <span>11111111111</span>
    <span>11111111111</span>
</div>

<span>BBB1111111</span>

</body>
</html>